asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1652752042988/work
Django @ file:///Users/runner/miniforge3/conda-bld/django_1656938028148/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
